body {
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: aquamarine;
}

#box{
    
    margin-top: 10%;
    margin-left: 40%;
}

#values{
    margin-top: 15px;
}